<ionic-view view-title="wELCOME TO ALOPHA RESORT" id="tour-view">
  <ionic-nav-buttons side="right">
    <a href="#/home" class="button button-clear" nav-clear>Start</a>
  </ionic-nav-buttons>
  <ionic-silde-box show-pager="true">
    <ionic-slide>
     <span class="icon icon-slide ion-document-text"></span>
     <h3>See your reservation</h3>
    </ionic-slide>
    <ionic-slide>
     <span class="icon icon-slide ion-fork"></span>
     <h3>find local restaurants</h3>
    </ionic-slide>
    <ionic-slide>
     <span class="icon icon-slide ion-ios-sunny"></span>
     <h3>Get the weather</h3>
    </ionic-slide>
  </ionic-silde-box>
</ionic-view>
